<nav class="navbar navbar-dark bg-dark fixed-top shadow-sm">
    <div class="container d-flex gap-2">
        <button type="submit" formaction="@Url.Action("BlockUsers", "Table")" formmethod="post" class="btn btn-outline-light">
            <i class="fa-solid fa-lock"></i> Block
        </button>
        <button type="submit" formaction="@Url.Action("UnblockUsers", "Table")" formmethod="post" class="btn btn-outline-light">
            <i class="fa-solid fa-lock-open"></i>
        </button>
        <button type="submit" formaction="@Url.Action("DeleteUsers", "Table")" formmethod="post" class="btn btn-outline-light">
            <i class="fa-solid fa-trash"></i>
        </button>
        <button type="submit" formaction="@Url.Action("DeleteUnverified", "Table")" formmethod="post" class="btn btn-outline-light">
            <i class="fa-solid fa-users-slash"></i>
        </button>
        <div class="ms-auto">
            <button type="submit" formaction="@Url.Action("Logout", "Account")" formmethod="post" class="btn btn-outline-light">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </div>
    </div>
</nav>