@using Humanizer
@using System.Globalization
@using Task5.Models.User
@using Task5.WebApp.Helpers
@model User

<tr>
    <td>
        <input class="form-check-input userCheckbox" type="checkbox" name="emailList" value="@Model.Email" />
    </td>
    <td>
        <div class="fw-semibold @(Model.Status == UserStatus.Blocked ? "text-decoration-line-through text-black-50" : "")">
            @Model.UserName
        </div>
        <div class="text-muted small">@Model.UserPosition</div>
    </td>
    <td class="@(Model.Status == UserStatus.Blocked ? "text-black-50" : "")">@Model.Email</td>
    <td>
        @if (Model.Status == UserStatus.Active)
        {
            <span class="badge bg-success">Active</span>
        }
        else if (Model.Status == UserStatus.Blocked)
        {
            <span class="badge bg-danger">Blocked</span>
        }
        else
        {
            <span class="badge bg-secondary">@Model.Status</span>
        }
    </td>
    <td class="@(Model.Status == UserStatus.Blocked ? "text-black-50" : "")"">
        @Model.LastLoginTime.Humanize(culture: new CultureInfo("en-US"))
    </td>
    <td class="@(Model.Status == UserStatus.Blocked ? "text-black-50" : "")">@Model.RegisterTime.Humanize(culture: new CultureInfo("en-US"))</td>
</tr>